<div class="animate__animated animate__fadeIn animate__faster">
    
    <h2>Por país:</h2>
    <hr>
    <div class="row">
        <div class="col">
            <app-pais-search (onSubmit)="buscar($event)" (onDebounce)="mostrarListadoSugerencias($event)" placeholder="País..."></app-pais-search>
        </div>
    </div>
    <ul class="list-group" *ngIf="mostrarSugerencias">
        <li class="list-group-item list-group-item-action" *ngFor="let paisSugerido of paisesSugeridos">
            <a class="nav-link" [routerLink]="['/pais', paisSugerido.cca2]">{{ paisSugerido.name.common }}</a>
        </li>

        <li class="list-group-item list-group-item-action" (click)="buscar(nombre)">
            <a class="nav-link">Buscar "{{ nombre }}"</a>
        </li>
    </ul>
    <hr>
</div>
<div class="alert alert-danger" *ngIf="hayError">
    No se encontró nada con el termino {{ nombre }}
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-list [paises]="paises"></app-pais-list>
    </div>
</div>